@using CosmosDBUtilitiesExample.DTOs
@model DetailItemDTO
@{
    ViewData["Title"] = "To do item";
    string error = ViewData["error"] as string;
    List<SubItemDTO> SubItems = null;
    if(Model != null && Model.SubItems != null)
    {
        SubItems = Model.SubItems.ToList();
    }
}

<h3>@ViewData["Title"]</h3>
@if (error != null)
{
    <div class="alert alert-danger" role="alert">
        <strong>@error</strong>
    </div>
}
<form  method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-xs-5">
            <div class="form-group">
                <label asp-for="Name" 
                       class="col-xs-12 control-label"></label>
                <div class="col-xs-12">
                    <input asp-for="Name" 
                           class="form-control" />
                    <input type="hidden" asp-for="Id"
                           class="form-control" />
                    <span asp-validation-for="Name"
                          class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <label asp-for="AssignedToSurname" 
                       class="col-xs-12 control-label"></label>
                <div class="col-xs-12">
                    <input asp-for="AssignedToSurname"
                           class="form-control" />
                    <span asp-validation-for="AssignedToSurname"
                          class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="form-group">
                <label asp-for="AssignedToId" 
                       class="col-xs-12 control-label"></label>
                <div class="col-xs-12">
                    <input asp-for="AssignedToId"
                           class="form-control" />
                    <span asp-validation-for="AssignedToId"
                          class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label asp-for="Description" 
                       class="col-xs-12 control-label"></label>
                <div class="col-xs-12">
                    <input asp-for="Description" 
                           class="form-control" />
                    <input type="hidden" asp-for="Id"
                           class="form-control" />
                    <span asp-validation-for="Description"
                          class="text-danger"></span>
                </div>
            </div>
        </div>

    </div>
    <h4>Subitems</h4>
    <table class="table table-striped table-bordered
       table-hover table-condensed">
        <thead>
            <tr class="info">
                <th>
                    <button type="button" class="add-button
                            btn btn-xs btn-primary"
                            title="new sub-item">
                        <span class="glyphicon
                                glyphicon-plus">
                        </span>
                    </button>
                </th>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody class="items-container">
            <tr style="display:none">
                <td>
                    <button type="button" class="delete-button
                            btn btn-xs btn-primary"
                            title="delete">
                        <span class="delete-button glyphicon
                                glyphicon-minus">
                        </span>
                    </button>
                    <input class="binding-index" 
                           type="hidden" name="SubItems.Index" />
                </td>
                <td>
                    <input type="text" name="Name"
                           class="form-control" />
                    <input  type="hidden" name="Id"
                           class="form-control" />
                </td>
                <td>
                    <input type="text" name="Description"
                           class="form-control" />
                </td>
            </tr>
        @if (Model != null && Model.SubItems != null)
        {
            for (int i=0;i< Model.SubItems.Count(); i++)
            {
            <tr>
                <td>
                    <button 
                        class="delete-button 
                            btn btn-xs btn-primary" 
                        title="delete">
                        <span class="glyphicon 
                                glyphicon-minus">
                        </span>
                    </button>
                    <input type="hidden" name="SubItems.Index" value="@i" />
                </td>
                <td>
                    <input asp-for="@SubItems[i].Name"
                        class="form-control" />
                    <input type="hidden" asp-for="@SubItems[i].Id"
                           class="form-control" />
                </td>
                <td>
                <input asp-for="@SubItems[i].Description"
                    class="form-control" />
                </td>
            </tr>
            }

        }
        </tbody>
    </table>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <button type="submit"
                        class="btn btn-primary">
                    Submit
                </button>
            </div>
        </div>
    </div>
</form>
    
@section Scripts {
<script type="text/javascript">
    (function ($) {
        var addCount = 0;
        var template = $(".items-container")
            .children().first().detach();
        $(document).on("click", ".delete-button", function (evt) {
            $(evt.target).closest("tr").remove();
        });
        $(document).on("click", ".add-button", function (evt) {
            addCount++;
            var index = "_" + addCount;
            var prefix = "SubItems[" + index + "].";
            var item = template.clone();
            item.find(".binding-index").val(index);
            $(".items-container").append(item);
            item.find("input").not(".binding-index")
                .each(function () { 
                    input = $(this);
                    input.attr("name", prefix + input.attr("name"))
                });
            
            item.show();
        });
    })(jQuery);    
</script>
}
